node_modules/
vendor/
.env
storage/logs/
storage/framework/cache/
storage/framework/views/*
storage/framework/sessions/*
public/storage
public/build
public/hot
*.zip
.DS_Store
.idea/
.vscode/
public/sitemap.xml
public/sitemap_index.xml
